.column {
  text-align: center;
}
.columnTitle {
  border-bottom: 1px solid #000;
  padding-bottom: 20px;
  margin: 0;
}

.valueContainer {
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  padding: 10px 0;
}
