.radio {
  label {
    cursor: pointer;
    background-color: white;
    border: none;
    display: flex;
    align-items: center;
    align-content: center;
    position: relative;
    margin: 10px 0;
    padding-left: 40px;
  }
  label:before {
    border: 1px solid;
    content: "";
    height: 20px;
    left: 0;
    position: absolute;
    top: 0;
    width: 20px;
  }
  label:after {
    content: "";
    border: 4px solid;
    border-left: 0;
    border-top: 0;
    height: 20px;
    top: -8px;
    left: 5px;
    opacity: 0;
    position: absolute;
    transform: rotate(45deg);
    transition: opacity 0.2s ease-in-out;
    width: 12px;
  }
  input {
    position: absolute;
    visibility: hidden;
  }

  input:checked + label:after {
    opacity: 1;
  }
}
